In [ ]:
# !pip install deep-translator

In [2]:
import pandas as pd

In [10]:
df = pd.read_csv('post_Artificial_Intelligence.csv').drop_duplicates().drop("Unnamed: 0",axis=1)
df

,id,post_pk,caption_text,like_count,taken_at,username,user_pk,quote_count,repost_count,reshare_count
0,3558787428782179764_187264532,3.558787e+18,Behind the scenes,0.0,1.738461e+09,mlssfshn,187264532,0.0,0.0,NaN
1,3557970465522674878_187264532,3.557970e+18,A little over 24 hours left to vote.\n\nhttps:...,0.0,1.738363e+09,mlssfshn,187264532,0.0,0.0,NaN
2,3557782854629238181_187264532,3.557783e+18,"Galaxy Quest \nLots of cutting holes, playing ...",1.0,1.738341e+09,mlssfshn,187264532,0.0,0.0,NaN
3,3557776470965660229_187264532,3.557776e+18,Black Hole Sun\nOver 5 pounds of cornhusk in m...,0.0,1.738340e+09,mlssfshn,187264532,0.0,0.0,NaN
4,3556000079513982405_187264532,3.556000e+18,Over due to post videos of my work for @salina...,0.0,1.738128e+09,mlssfshn,187264532,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...
2665914,NaN,NaN,NaN,NaN,NaN,NaN,45369275248,NaN,NaN,NaN
2665915,NaN,NaN,NaN,NaN,NaN,NaN,58378424746,NaN,NaN,NaN
2665916,NaN,NaN,NaN,NaN,NaN,NaN,45610961196,NaN,NaN,NaN
2665917,3457653231477841633_3122201738,3.457653e+18,wasiniisland,7.0,1.726404e+09,dior_baba,3122201738,0.0,0.0,NaN
2665918,3439539275777393436_3122201738,3.439539e+18,Thank you Lord for your grace and blessings. \...,17.0,1.724245e+09,dior_baba,3122201738,0.0,0.0,NaN

In [11]:
import pandas as pd
import numpy as np

numeric_cols = ['post_pk', 'like_count', 'taken_at', 'user_pk', 'quote_count', 'repost_count', 'reshare_count']
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')
    
df['taken_at'] = pd.to_datetime(df['taken_at'], unit='s', errors='coerce')
df.dropna(subset=['id', 'post_pk', 'taken_at', 'username', 'user_pk'], inplace=True)
df[numeric_cols] = df[numeric_cols].fillna(0)
df['caption_text'] = df['caption_text'].fillna('')
df['like_count'] = df['like_count'].astype(int)
df['quote_count'] = df['quote_count'].astype(int)
df['repost_count'] = df['repost_count'].astype(int)
df['reshare_count'] = df['reshare_count'].astype(int)
df['caption_text'] = df['caption_text'].str.strip()
df.reset_index(drop=True, inplace=True)

df

,id,post_pk,caption_text,like_count,taken_at,username,user_pk,quote_count,repost_count,reshare_count
0,3558787428782179764_187264532,3.558787e+18,Behind the scenes,0,2025-02-02 01:42:22,mlssfshn,187264532,0,0,0
1,3557970465522674878_187264532,3.557970e+18,A little over 24 hours left to vote.\n\nhttps:...,0,2025-01-31 22:39:13,mlssfshn,187264532,0,0,0
2,3557782854629238181_187264532,3.557783e+18,"Galaxy Quest \nLots of cutting holes, playing ...",1,2025-01-31 16:26:30,mlssfshn,187264532,0,0,0
3,3557776470965660229_187264532,3.557776e+18,Black Hole Sun\nOver 5 pounds of cornhusk in m...,0,2025-01-31 16:13:49,mlssfshn,187264532,0,0,0
4,3556000079513982405_187264532,3.556000e+18,Over due to post videos of my work for @salina...,0,2025-01-29 05:24:26,mlssfshn,187264532,0,0,0
...,...,...,...,...,...,...,...,...,...,...
2554706,3399623109386675104_2935098628,3.399623e+18,,0,2024-06-27 11:12:43,oficial_vincent,2935098628,0,0,0
2554707,3396061279494033895_2935098628,3.396061e+18,Visiting,0,2024-06-22 13:14:34,oficial_vincent,2935098628,0,0,0
2554708,3394399668282781800_2935098628,3.394400e+18,Morning with my guys,4,2024-06-20 06:13:14,oficial_vincent,2935098628,0,0,0
2554709,3457653231477841633_3122201738,3.457653e+18,wasiniisland,7,2024-09-15 12:46:46,dior_baba,3122201738,0,0,0
2554710,3439539275777393436_3122201738,3.439539e+18,Thank you Lord for your grace and blessings. \...,17,2024-08-21 12:57:35,dior_baba,3122201738,0,0,0

In [14]:
import re
df = df.dropna()
def remove_links(text):
    return re.sub(r'https?://\S+', '', text)
df['caption_text'] = df['caption_text'].apply(remove_links)
df.shape

(2554711, 10)

In [ ]:
import pandas as pd
import os
from deep_translator import GoogleTranslator
import time
import threading
import concurrent.futures

# Variabile thread-local per memorizzare il translator per ciascun thread
thread_local = threading.local()

def get_translator():
    """
    Restituisce un'istanza di GoogleTranslator specifica per il thread corrente.
    """
    if not hasattr(thread_local, 'translator'):
        thread_local.translator = GoogleTranslator(source='auto', target='en')
    return thread_local.translator

def translate_row(idx, text, sleep_time):
    """
    Traduzione di una singola riga. Se il testo è vuoto o non è una stringa, restituisce una stringa vuota.
    In caso di errore, stampa l'errore, attende 10 secondi e restituisce None.
    """
    if not isinstance(text, str) or text.strip() == '':
        return ''
    try:
        translator = get_translator()
        translated_text = translator.translate(text)
        time.sleep(sleep_time)  # attende un po' per rispettare eventuali rate limits
        return translated_text
    except Exception as e:
        print(f"Errore nella traduzione alla riga {idx}: {e}")
        time.sleep(10)
        return None

def translate_captions_multithread(df_original,
                                   source_col='caption_text',
                                   target_col='caption_text_en',
                                   checkpoint_file='/content/drive/MyDrive/progetto_asnm/translated_captions_checkpoint.csv',
                                   batch_size=100,
                                   sleep_time=1,
                                   max_workers=10):
    
    # Se esiste un checkpoint, carica il DataFrame; altrimenti, usa una copia di df_original
    if os.path.exists(checkpoint_file):
        print("Checkpoint trovato. Carico il file:", checkpoint_file)
        df_checkpoint = pd.read_csv(checkpoint_file)
        if target_col not in df_checkpoint.columns:
            df_checkpoint[target_col] = ''
    else:
        df_checkpoint = df_original.copy()
        if target_col not in df_checkpoint.columns:
            df_checkpoint[target_col] = ''

    total_rows = len(df_checkpoint)
    completed_count = 0
    futures_to_idx = {}

    # Usa un ThreadPoolExecutor per tradurre in parallelo
    with concurrent.futures.ThreadPoolExecutor(max_workers=max_workers) as executor:
        # Sottometti un task per ogni riga non ancora tradotta
        for idx in range(total_rows):
            # Salta le righe già tradotte
            if pd.notnull(df_checkpoint.at[idx, target_col]) and df_checkpoint.at[idx, target_col] != '':
                continue
            text = df_checkpoint.at[idx, source_col]
            future = executor.submit(translate_row, idx, text, sleep_time)
            futures_to_idx[future] = idx

        # Gestisci i risultati non appena ciascun task viene completato
        for future in concurrent.futures.as_completed(futures_to_idx):
            idx = futures_to_idx[future]
            result = future.result()
            if result is not None:
                df_checkpoint.at[idx, target_col] = result
                print(f"[{idx}/{total_rows}] Tradotto (thread)")
            else:
                # Se si è verificato un errore, si lascia il campo vuoto
                df_checkpoint.at[idx, target_col] = ''
            completed_count += 1

            # Salva un checkpoint ogni batch_size traduzioni completate
            if completed_count % batch_size == 0:
                df_checkpoint.to_csv(checkpoint_file, index=False)
                print(f"Checkpoint salvato dopo {completed_count} traduzioni su {total_rows}.")

    # Salvataggio finale del checkpoint
    df_checkpoint.to_csv(checkpoint_file, index=False)
    print("Traduzione completata. Checkpoint finale salvato.")
    return df_checkpoint

# Esempio di utilizzo (assumendo che il DataFrame originale si chiami `df`)
df_translated = translate_captions_multithread(df_original=df)

[0/2554711] Tradotto